<div class="supplier_list">
<ul>
	<% @suppliers.each do |supplier| %>
		<li>
			<div class= <%= "#{supplier.name}" %>><%= check_box(:current_suppliers, "suppliers",{multipart: true},  supplier.name, nil) %></div>
      <%= supplier.name  %>
		</li>
	<% end  %>
	</ul>
</div>
